{% extends "base.html" %}

{% block content %}
<h2>Sankarit</h2>

<p>Sinulla on {{ player.gold }} kultakolikkoa. <a href="inventory">Selaa varastoa ja varusta sankareita</a></p>

<h3>Sankarisi</h3>
<table class="table">
  <tr>
    <th>Nimi</th>
    <th>Luokka</th>
    <th>Taso</th>
    <th>Esinetaso</th>
    <th>Tila</th>
  </tr>
  {% for hero in heroes %}
  <tr>
    <td><a href="hero_view?id={{ hero.hid }}">{{ hero.name }}</a></td>
    <td>{{ hero.get_class_name() }}</td>
    <td>{{ hero.get_level() }}</td>
    <td>{{ hero.get_item_level() }}</td>
    <td>{{ hero.status_text() }}</td>
  </tr>
  {% else %}
  <tr>
    <td colspan=5>Ei sankareita. <a href="hero">Luo uusi sankari</a></td>
  </tr>
  {% endfor %}
</table>

<a href="hero">Luo uusi sankari</a>

<h3>Seikkailut</h3>

<table class="table">
  <tr>
    <th>Alkoi</th>
    <th>Loppuu</th>
    <th>Sankarit</th>
  </tr>

  {% for adventure in adventures %}
  <tr>
    <td>{{ adventure.started_ago() }}</td>
    <td>
      {% if adventure.can_be_claimed() %}
      <a href="inventory?claim">Kuittaa saalis</a>
      {% else %}
      <div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="{{ adventure.progress() }} " aria-valuemin="0" aria-valuemax="100" style="width: {{ adventure.progress() }}%;">
	  {{ adventure.progress() }}% Complete
	</div>
      </div>
      {% endif %}
    </td>
    <td>{% for hero in adventure.heroes %}{{ hero.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
  </tr>
  {% else %}
  <tr>
    <td colspan=3>Ei seikkailuja. <a href="adventure">Aloita uusi seikkailu!</a></td>
  </tr>
  {% endfor %}
</table>

<a href="adventure">Aloita uusi seikkailu</a>

{% endblock %}
