{% extends "base.html" %}

{% block content %}
<h1>Sankarit</h1>

Sinulla on 4300 kultakolikkoa. <a href="inventory">Selaa varastoa ja varusta sankareita</a>

<h2>Sankarisi</h2>
<table>
  <tr>
    <th>Nimi</th>
    <th>Luokka</th>
    <th>Taso</th>
    <th>Esinetaso</th>
    <th>Tila</th>
  </tr>

  <tr>
    <td>Conan</td>
    <td>Barbaari</td>
    <td>5</td>
    <td>4</td>
    <td>seikkailulla</td>
  </tr>

  <tr>
    <td>Legolas</td>
    <td>Jousimies</td>
    <td>4</td>
    <td>3</td>
    <td>vapaana</td>
  </tr>

  <tr>
    <td>Thrall</td>
    <td>Poppamies</td>
    <td>3</td>
    <td>2</td>
    <td>parantolassa (3 tuntia jäljellä)</td>
  </tr>

</table>

<a href="/hero">Luo uusi sankari</a>

<h2>Seikkailut</h2>

<table>
  <tr>
    <th>Alkoi</th>
    <th>Loppuu</th>
    <th>Sankarit</th>
  </tr>

  <tr>
    <td>3 tuntia sitten</td>
    <td>1 tunnin päästä</td>
    <td>Conan</td>
  </tr>

  <tr>
    <td>5 tuntia sitten</td>
    <td><a href="inventory">Kuittaa saalis</a></td>
    <td>Thrall</td>
  </tr>
</table>

<a href="adventure">Aloita uusi seikkailu</a>

{% endblock %}
