{% extends "base.html" %}

{% from "_itemhelpers.html" import render_item %}

{% block content %}
<h2>Varasto</h2>

{% for new in newloot %}
<div>
<h2>Seikkailu ohi!</h2>
<p>Sait {{ new.gold }} kultaa saaliina päättyneestä seikkailusta.</p>
{% if new.items %}
<p>Sait myös uusia esineitä:</p>
<ul>
  {% for item in new.new_items %}
  {{ render_item(item) }}
  {% endfor %}
</ul>
{% endif %}
</div>
{% endfor %}

<p>
  Yhteensä <em>{{ items_count }}</em> esinettä varastossa. Sivu <em>{{ page }}</em>.

  {% if prev_page is not none %}
  <a href="inventory?page={{ prev_page }}">Edellinen sivu</a>
  {% endif %}

  {% if next_page is not none %}
  <a href="inventory?page={{ next_page }}">Seuraava sivu</a>
  {% endif %}
</p>

<ul>
  {% for item in items %}
  {{ render_item(item) }}
  {% endfor %}
</ul>
{% endblock %}
