{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block content %}
<h2>Sankarit</h2>

<p>Sankarit on selainpeli, jossa järjestät ja seuraat sankarijoukon
seikkailuja. Aloita rekisteröitymällä tai jatka peliä
kirjautumalla.</p>

<div>
  <h3>Kirjaudu</h3>
  <form method="post" action="login">
    <dl>
      {{ login_form.csrf_token }}
      {{ render_field(login_form.username) }}
      {{ render_field(login_form.password) }}
    </dl>
    <p>
      <input type="submit" value="Kirjaudu">
    </p>
  </form>
</div>

<div>
  <h3>Rekisteröidy</h3>
  <form method="post" action="register">
    <dl>
      {{ reg_form.csrf_token }}
      {{ render_field(reg_form.username) }}
      {{ render_field(reg_form.email) }}
      {{ render_field(reg_form.password1) }}
      {{ render_field(reg_form.password2) }}
    </dl>
    <p>
      <input type="submit" value="Rekisteröidy">
    </p>
  </form>
</div>
{% endblock %}
